<style>
    .mission{
      color: gold;
      font-family: gold;
      font-size: 100%;
      font-style: bold;
    }
    .vision{
      color: indianred;
      font-family: green;
      font-size: 100%;
    }
    </style>
